version: '3.8'

services:
  web:
    build: .
    
    ports:
      - "3000:3000"
    environment:
      - PORT= 3000
      - ML_API_URL=http://ml-api:5000
    volumes:
      - .:/portfolio
      - /portfolio/node_modules


